/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio header */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #000;
  }
  
  /* Logo */
  .header__logo {
    flex: 1;
  }
  
  .header__img {
    width: 130px;
    height: auto;
  }
  
  /* Navegación */
  .header__nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0; 
  }
  
  .header__nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .header__nav-link:hover {
    color: #007bff;
  }
  
  /* Botones */
  .header__buttons {
    display: flex;
    gap: 10px;
  }
  
  .header__button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin: 10px;
  }
  
  .header__button:hover {
    background-color: #0056b3;
  }
  
  .header__button--login {
    background-color: #28a745;
  }
  
  .header__button--login:hover {
    background-color: #218838;
  }
  
/* fin del header */

/* Layout del contenedor principal */
.login {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

/* Contenedor del formulario */
.login__container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: grid;
    gap: 20px;
}

/* Título */
.login__title {
    text-align: center;
    font-size: 24px;
    color: #333;
}

/* Estilos del formulario */
.login__form {
    display: grid;
    gap: 15px;
}

.login__form-group {
    display: flex;
    flex-direction: column;
}

.login__label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.login__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login__button {
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login__button:hover {
    background-color: #0056b3;
}

/* Registro */
.login__register {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.login__link {
    color: #007bff;
    text-decoration: none;
}

.login__link:hover {
    text-decoration: underline;
}
