// Variables
$primary-color: #000;
$secondary-color: #f9f9f9;
$font-color: #70cd93;
$header-height: 100px;

// Estilos generales
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}

// Header
.header {
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    &__logo {
        flex: 1;

        img {
            width: 80px;
            height: 80px;
        }
    }

    &__nav {
        &-list {
            list-style: none;
            display: flex;
            justify-content: space-around;
            gap: 1.5rem;
        }

        &-link {
            color: white;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;

            &:hover {
                color: lighten($font-color, 20%);
            }
        }
    }

    &__buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end;    
    }
    
    &__button {
        background-color: white;
        color: $primary-color;
        border: none;
        border-radius: 4px;
        padding: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: lighten($primary-color, 30%);
        }
    }
}

// formulario de Registro
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - #{$header-height});
    padding: 20px;    

    &__container {
        background-color: #d9e3dd;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        max-width: 400px;
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;          
    }

    &__title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__form-group {
        display: flex;
        flex-direction: column;     
    }   

    &__label {
        margin: 8px;
        font-weight: bold;
    }      

    &__input {
        padding: 10px; // Ajusta el padding aquí
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;

        &:focus {
            border-color: $primary-color;
            outline: none;
        }
    }

    &__login {
        text-align: center;

        &__link {
            color: $primary-color;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__button {               
        background-color: #f9f9f9;
        color: #000;
        border: none;
        padding: 0.75rem;       
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        margin: 35px auto 0;

        &:hover {
            background-color: lighten($primary-color, 10%);
            color: $secondary-color;
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    .header {
        flex-direction: column; // Cambia a columna en pantallas pequeñas

        &__nav {
            &-list {
                flex-direction: column; // Los enlaces de navegación en columna
                align-items: center; // Centra los enlaces
            }
        }
    }

    .register {
        padding: 10px; // Menos padding en pantallas pequeñas

        &__container {
            padding: 20px; // Menos padding en el contenedor
            height: auto; // Permite que el contenedor crezca
        }
    }
}

@media (max-width: 480px) {
    .register {
        &__title {
            font-size: 20px; // Tamaño de fuente más pequeño
        }

        &__input {
            font-size: 14px; // Tamaño de fuente más pequeño para los inputs
        }

        &__button {
            font-size: 14px; // Tamaño de fuente más pequeño para el botón
            padding: 0.5rem; // Menos padding para el botón    
        }
    }
}
